<div class="row" style="height: 100px; background: #1c002b">
</div>
<div class="container" id="live" data-section="live" style="margin-top:30px">
    <div class="row">
        <div class="col-md-12"> 
            <div class="live" style="position:relative">
                <div  class="live-container">
                    <iframe style="width:100%; height:600px" src="https://www.youtube.com/embed/BOu_SMHLr44?autoplay=1" frameborder="0" allowfullscreen></iframe>

                </div>
                <!-- ng-show="tweet.show" -->
                <div ng-show="tweet.show"  class="live-tweet" >
                    <div class="col-md-12">
                        <h3 ng-bind=" tweet.user.name">Nome do usuario</h3>
                        <p><strong>19/06/2017</strong></p>
                        <p><small ng-bind="tweet.text"></small></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>